@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400&family=Bowlby+One&display=swap');

:root {
    --white: #FFFFFF;
    --orange: #7F52FF;
    --black: #414141;
    --blue: #3e53a6;
}

html {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--black);
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding: 2rem 0 2rem;
    background-color: var(--black);
    color: var(--white);
    font-size: 2rem;
}

main {
    flex: 1;
}

section {
    padding: 2rem 0;
}

footer {
    padding: 1.5rem 0;
    background-color: var(--black);
    color: var(--white);
}

.callout {
    line-height: 2;
    font-size: 1.75rem;
    background-color: var(--orange);
    color: var(--white);
}

.container {
    padding: 0 3rem;
    margin: 0 auto;
    max-width: 65rem;
}

.container > h2 {
    margin-top: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    padding-top: 10px;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
    width: 200px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.content {
    padding: 2px 16px;
}
.news-details{
    font-size: small;
    font-weight: 400;
    font-family: "Arial", serif;
    padding-top: 10px;
    width: 100%;
}

section.container > div {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

section.container > div > h2{
    padding-top: 10px;
}

.content > div{
    display: flex;
    justify-content: space-between;
}

.filter-btn{
    display: inline-flex;
    justify-content: space-between;
    margin-left: auto;
    padding-top: 5px;
}

.filter-btn > h2 {
    margin-right: 5px;
    padding-top: 5px;
}

div.filter-btn > a{
    background-color: #414141;
    color: white;
    width: 85px;
    height: 30px;
    text-align: center;
    margin-right: 5px;
    padding-top: 5px;
}

a, a:visited, a:link {
    text-decoration: none;
    color: var(--blue);
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4 {
    margin-bottom: 1rem;
    font-weight: 700;
}

h1 {
    font-size: 4rem;
    font-family: 'Bowlby One', sans-serif;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1rem;
}

h4 {
    font-size: .8rem;
}

p {
    line-height: 1.4;
    font-size: 1.25rem;
}

p:not(:last-child), ul:not(:last-child) {
    margin-bottom: 1rem;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

ul li, ol li {
    list-style: outside;
    margin-top: .7rem;
    line-height: 1.3;
    margin-left: 2rem;
}

ul li {
    list-style: disc;
}

ol li {
    list-style: decimal;
}

ul {
    line-height: 1.4;
}

.branded {
    font-family: 'Bowlby One', sans-serif;
    font-weight: 700;
}
