name: gradle-build
on:
  push:
jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:14.3
        ports:
          - '5555:5432'
        env:
          POSTGRES_DB: 'news_dev'
          POSTGRES_USER: 'news-reader'
          POSTGRES_PASSWORD: 'news-reader'
          ADDITIONAL_POSTGRES_DBS: 'news_test'
        volumes:
          - ./databases/init-scripts:/docker-entrypoint-initdb.d
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 16
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 16
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Run migrations
        run: ./gradlew devMigrate testMigrate
      - name: Build with Gradle
        run: ./gradlew build