name: Deploy Analyzer App

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.14 # This is the action
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "daily-news-analyzer" #Must be unique in Heroku
          heroku_email: ${{secrets.HEROKU_EMAIL}}
          usedocker: true
          docker_build_args: |
            PORT
            APP
        env:
          PORT: 8081
          APP: applications/data-analyzer-server/build/libs/data-analyzer-server-1.0-SNAPSHOT.jar